body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
}

#animalSounds p {
    margin: 5px 0;
    padding: 5px;
    background-color: #dcdcdc;
    border-radius: 5px;
    display: inline-block;
}